# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# To deploy run below commands:
# 1) npm run build
# 2) npm run deploy

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
